[Unit]
Description = pocketbase

[Service]
Type             = simple
User             = pieter
Group            = pieter
LimitNOFILE      = 4096
Restart          = always
RestartSec       = 5s
StandardOutput   = append:/pieter/books/std.log
StandardError    = append:/pieter/books/std.log
WorkingDirectory = /pieter/books
ExecStart        = /pieter/books/ebooks serve --http=127.0.0.1:8091

[Install]
WantedBy = multi-user.target